{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensordaten Abfrage</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<style>
    body {
        background-image: url('{% static 'img/background.jpg' %}');
    }
</style>
<body>
    <div class="form-container">
        <!--<div class="header">
            <img src="{% static 'img/tbs1_logo.png' %}" alt="TBS1 Logo">
            <h1>Luftdaten TBS1</h1>
        </div> -->
        <form id="sensorQueryForm" method="post">
            {% csrf_token %}
            <label for="date">Datum:</label>
            <input type="date" id="date" name="date" required>
            <label for="sensorType">Sensortyp:</label>
            <select id="sensorType" name="sensorType" required>
                <option value="temperatur">Temperatur</option>
                <option value="humidity">Luftfeuchtigkeit</option>
                <option value="pm">Feinstaub</option>
            </select>

            <button type="submit">Abfragen</button>
        </form>
        <div id="result">
            {% if highest_value %}
                <p>Höchstwert: {{ highest_value }} </p>
                <p>Durchschnittswert: {{ average_value }} </p>
                <p>Niedrigster Wert: {{ lowest_value }} </p>
            {% endif %}
            {% if highest_p1 %}
                <p>Höchstwert PM10: {{ highest_p1 }} μg/m³</p>
                <p>Durchschnittswert PM10: {{ average_p1 }} μg/m³</p>
                <p>Niedrigster Wert PM10: {{ lowest_p1 }} μg/m³</p>
                <!-- Sie können hier ähnlich für PM2.5 (p2) Werte anzeigen -->
            {% endif %}
        </div>
    </div>
</body>
</html>
  